<%= link_to 'Back to Home Page', books_path %>
<h1>Edit Book</h1>

<%= form_with(model: @book, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

